<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{description}}">

<link rel="icon" href="/{{root}}/assets/favicon.ico" type="image/x-icon">

<!-- Modified version of hack.css -->
<link rel="stylesheet" href="/{{root}}/assets/css/hack.css">

<!-- Solarized color scheme -->
<link rel="stylesheet" href="/{{root}}/assets/css/solarized-light.min.css" ></link>

<!-- Code syntax highlighting -->
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">

<script
src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<!-- Mathjax -->
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML">
</script>

</head>

<h1><a href="/{{root}}/">{{blog_title}}</a></h1>
<p>{{description}}</p>

<body class="hack">
    <div class="main container">

{% block body %}
{% endblock %}

    </div>
</body>

<hr>

<div class="grid">
    <div class="cell -6of12">
        <div class="content">
            <p>{{blog_description}}</p>
        </div>
    </div>
    <div class="cell -3of12">
        <div class="content">
            Source code: <a href="https://github.com/drvinceknight/blog">
                          drvinceknight</a>
        </div>
        <div class="content">
            Twitter: <a href="https://twitter.com/drvinceknight">
                          @drvinceknight</a>
        </div>
        <div class="content">
            Email: <a href="mailto:knightva@cardiff.ac.uk">
                          knightva@cardiff.ac.uk</a>
        </div>
    </div>
    <div class="cell -3of12">
        <div class="content">
            Powered by:
        </div>
        <div class="content">
            <a href="https://www.python.org/">Python</a>
        </div>
        <div class="content">
            <a href="http://hackcss.egoist.moe/">hack.css</a>
        </div>
        <div class="content">
            <a href="http://thomasf.github.io/solarized-css/">solarized-css</a>
        </div>
        <div class="content">
            <a href="https://www.mathjax.org/">mathjax</a>
        </div>
        <div class="content">
            <a href="https://highlightjs.org/">highlight.js</a>
        </div>
        <div class="content">
            <a href="https://pages.github.com/">Github pages</a>
        </div>
        <ul>
    </div>
</html>
