<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{description}}">

<link rel="icon" href="/{{root}}/assets/favicon.ico" type="image/x-icon">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.0/milligram.css">

<!-- notebook css style -->
  <link rel="stylesheet" href="/{{root}}/assets/css/notebook.css">

<!-- Code syntax highlighting -->
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">

<script
src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<!-- MathJax -->
<script type="text/javascript" async
src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"
async>
</script>
<!-- MathJax configuration -->
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
    tex2jax: {
        inlineMath: [ ['$','$'], ["\\(","\\)"] ],
        displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
        processEscapes: true,
        processEnvironments: true
    },
    // Center justify equations in code and markdown cells. Elsewhere
    // we use CSS to left justify single line equations in code cells.
    displayAlign: 'center',
    "HTML-CSS": {
        styles: {'.MathJax_Display': {"margin": 0}},
        linebreaks: { automatic: true }
    }
});
</script>
<!-- End of mathjax configuration -->
</head>

<h1><a href="/{{root}}/">{{blog_title}}</a></h1>
<p>{{description}}</p>

<body class="hack">
    <div class="main container">

{% block body %}
{% endblock %}

    </div>
</body>

<hr>

<div class="grid">
    <div class="cell -6of12">
        <div class="content">
            <p>{{blog_description}}</p>
        </div>
    </div>
    <div class="cell -3of12">
        <div class="content">
            Source code: <a href="https://github.com/drvinceknight/blog">
                          drvinceknight</a>
        </div>
        <div class="content">
            Twitter: <a href="https://twitter.com/drvinceknight">
                          @drvinceknight</a>
        </div>
        <div class="content">
            Email: <a href="mailto:knightva@cardiff.ac.uk">
                          knightva@cardiff.ac.uk</a>
        </div>
    </div>
    <div class="cell -3of12">
        <div class="content">
            Powered by:
        </div>
        <div class="content">
            <a href="https://www.python.org/">Python</a>
        </div>
        <div class="content">
            <a href="https://www.mathjax.org/">mathjax</a>
        </div>
        <div class="content">
            <a href="https://highlightjs.org/">highlight.js</a>
        </div>
        <div class="content">
            <a href="https://pages.github.com/">Github pages</a>
        </div>
        <ul>
    </div>
</html>
